body{
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Teko', sans-serif;
    margin: 0px;
}
.flexible-container{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1{
    font-family: 'Teko', sans-serif;
    font-size: 80px;
    color: rgb(0, 0, 0);
}
h3{
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(0, 0, 0);
}
.half-width{
    width: 60%;
    padding: 10%;
}
.top-picture{
    width: 40%;
    padding: 5%;
}
.coloring-word{
    color: rgb(28, 31, 219);
}
.link-button{
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(rgb(99, 61, 226), blue);
    color: white;
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 50px;
    box-shadow: 5px 5px 30px blueviolet;
}
.about-me{
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
a{
    font-size: 20px;
}
.my-recipie{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(61, 60, 60);
    padding-right: 300px;
    padding-left: 300px;
}
.box img{
    border-radius: 10px;
    width: 90%;
    height: 60%;
    padding-top: 30px;
    padding-left: 10px;
}
.box{
    width: 80%;
    height: 90%;
    margin-right: 4%;
    margin-left: 4%;
    padding-left: 30px;
    box-shadow: 20px 20px 30px gray;
    border-radius: 50px;

}

p{
    font-size: 22px;
    font-family: 'Noto Sans JP', sans-serif;
}
.all-recipie h2{
    margin-top: 450px;
}

.influence{
    border-radius: 20px;
    box-shadow: 20px 20px 40px grey;
    margin: 3% 3% 3% 3%;
}
.youtube{
text-align: center;
padding: 0 10%;
}
.insta{
    text-align: center;
    padding: 0 10%;
}
.dribble{
    text-align: center;
    padding: 0 10%;
}

footer{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(2, 65, 28);
    color: white; 
    text-align: center;
    padding: 5%;
}
.last-sec h2{
    font-size: 50px;
}
.green-color{
    color: rgb(169, 187, 12);
}


